<h1><%= markdown @wiki.title %></h1>
<p><%= markdown @wiki.body %></p>
<small>
   created by <%= @wiki.user.try(:name) %><br/>
</small>
</br>
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> 